.layout {
  display: flex;
  max-width: 680px;
  flex-direction: column;
  margin: auto;
}

.add-button {
  margin-top: 20px;
}

.new-post-title {
  margin-top: 40px;
}
form {
  display: flex;
  flex-direction: column;
}
.post {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  .title {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .delete-button {
    padding: 8px;
    border-radius: 9999px;
    background: tomato;
  }
  .edit-button {
    padding: 8px;
    border-radius: 9999px;
    margin-left: 8px;
    background: darkolivegreen;
  }
}
