<div class="layout">
  <div *ngIf="loading$ | async; else loaded">
    loading...
  </div>
  <ng-template #loaded>
    <section class="posts-layout" *ngIf="posts$ | async as posts">
      <article class="not-found" *ngIf="posts.length < 0">No Posts Found</article>
      <article class="post" *ngFor="let post of posts">
        <div class="title">{{ post.title }}</div>
        <button class="delete-button" (click)="delete(post)">delete</button>
        <button class="edit-button" (click)="startEditing(post)">edit</button>
      </article>
    </section>
  </ng-template>
  <form (ngSubmit)="onSubmit()" novalidate>
    <input
      class="new-post-title"
      type="text"
      [(ngModel)]="postForm.title"
      #title="ngModel"
      name="title"
      placeholder="New Post Title"
    />
    <input type="submit" [value]="editing ? 'Save Changes' : 'Add Post'" class="add-button" />
  </form>
</div>
