body {
  font-family: arial, sans-serif;
  width: 100%;
  height: 100vh;
}
input {
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: gainsboro;
  &:focus {
    outline: none;
    box-shadow: 1px 1px 1px 1px rgba(208, 208, 208, 0.2);
  }
}
button,
input[type='submit'] {
  padding: 16px;
  border-radius: 12px;
  font-weight: 500;
  border: none;
  font-size: 0.9rem;
  background-color: cornflowerblue;
  color: whitesmoke;
  &:focus {
    outline: none;
  }
}
